<template>
  <div>
    <h3>{{mode | capitalize}} User</h3>
    <a-divider></a-divider>

    <a-alert v-if="alert.isShow" style="margin-bottom: 20px" :type="alert.type" :message="alert.message" banner closable
      :afterClose="alertClose" />

    <a-form @submit="submit">
      <a-form-item label="Name" :label-col="{span: 5}" :wrapper-col="{span: 12}">
        <a-input v-model="data.name" id="name" />
      </a-form-item>
      <a-form-item label="email" :label-col="{span: 5}" :wrapper-col="{span: 12}">
        <a-input type="email" v-model="data.email" id="email" />
      </a-form-item>
      <a-form-item label="Password" :label-col="{span: 5}" :wrapper-col="{span: 12}">
        <a-input type="password" v-model="data.password" id="password" />
      </a-form-item>
      <a-form-item label="Role" :label-col="{span: 5}" :wrapper-col="{span: 12}">
        <a-select placeholder="select role" v-model="data.role" id="role">
          <a-select-option value="admin">Admin</a-select-option>
          <a-select-option value="sales">Sales</a-select-option>
          <a-select-option value="marketing">Marketing</a-select-option>
          <a-select-option value="finance">Finance</a-select-option>
        </a-select>
      </a-form-item>

      <a-form-item :wrapper-col="{span: 12, offset: 5}">
        <a-button type="primary" html-type="submit" :loading="isLoading">
          {{mode == 'new' ? 'Submit' : 'Save'}}
        </a-button>
      </a-form-item>
    </a-form>

  </div>
</template>

<script>
import {UserSvc} from '@/service/api'

export default {
  layout: 'dashboard',
  middleware: 'admin-access',
  data() {
    return {
      isLoading: false,
      mode: 'new',
      id: null,
      alert: {
        isShow: false,
        type: 'error',
        message: ''
      },
      data: {}
    }
  },
  methods: {
    init() {
      this.id = this.$route.params.id

      if (this.id == null) {
        this.mode = 'new'
      } else {
        this.mode = 'edit'
        this.getUser()
      }
    },
    alertClose() {
      this.alert.isShow = false
    },
    submit(e) {
      e.preventDefault()
      let vm = this
      
      this.alert.isShow = false
      if (!this.validate()) {return}

      if (vm.mode == 'new') {
        vm.insert(this.data)
      } else {
        vm.update(this.data)
      }
    },
    getUser(){
      let vm = this
      UserSvc.getDetail(vm.id).then((res) => {
        vm.data = res.data.data
      })
    },
    insert(params) {
      let vm = this

      vm.isLoading = true
      UserSvc.insert(params).then((res) => {
        vm.alert.type = 'success'
        vm.alert.message = res.data.message
        vm.alert.isShow = true

        setTimeout(() => {
          vm.$router.push('/user/list')
        }, 2000)
      }).catch((err) => {
        vm.alert.type = 'error'
        vm.alert.message = err
        vm.alert.isShow = true
      }).then(() => {
        vm.isLoading = false
      })
    },
    update(params) {
      let vm = this

      vm.isLoading = true
      UserSvc.update(vm.id, params).then((res) => {
        vm.alert.type = 'success'
        vm.alert.message = res.data.message
        vm.alert.isShow = true

        setTimeout(() => {
          vm.$router.push('/user/list')
        }, 2000)
      }).catch((err) => {
        vm.alert.type = 'error'
        vm.alert.message = err
        vm.alert.isShow = true
      }).then(() => {
        vm.isLoading = false
      })
    },
    validate() {
      this.clearError()

      if (!this.data.name) {
        this.drawErrorField('name', 'Please input name!')
        return false
      }

      if (!this.data.email) {
        this.drawErrorField('email', 'Please input email!')
        return false
      }

      if (!this.data.password && this.mode == 'new') {
        this.drawErrorField('password', 'Please input password!')
        return false
      }

      if (!this.data.role) {
        this.drawErrorField('role', 'Please input role!')
        return false
      }

      return true
    }
  },
  mounted() {
    this.init()
  }
}
</script>
