<template>
    <div>
        <a-row type="flex" justify="space-between" align="middle">
          <a-col :span="8">
            <h3 style="margin-bottom: 0px">User List</h3>
          </a-col>
          <a-col :span="8" style="text-align: right">
            <nuxt-link to="/user">
              <a-button type="primary" icon="plus">New User</a-button>
            </nuxt-link>
          </a-col>
        </a-row>
        <a-divider />

        <div class="limiter">
          <div class="container-table100">
            <div class="wrap-table100">
              <div class="table100">
                <table class="table-custom">
                  <thead>
                    <tr class="table100-head">
                      <th>#</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Role</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr v-for="(x, index) in data">
                        <td><a-col class="responsive-td" :xs="{span: 0}">No :</a-col>{{resolveNumber(index)}}</td>
                        <td><a-col class="responsive-td" :xs="{span: 0}">Name :</a-col>{{x.name}}</td>
                        <td><a-col class="responsive-td" :xs="{span: 0}">Email :</a-col>{{x.email}}</td>
                        <td><a-col class="responsive-td" :xs="{span: 0}">Role :</a-col>{{x.role}}</td>
                        <td>
                          <nuxt-link :to="{ name: 'user-id', params: { id: x.id }}">
                            <a-button type="primary" icon="edit"></a-button>
                          </nuxt-link>
                          <a-popconfirm title="Are you sure delete this user?" @confirm="deleteUser(x.id)" okText="Yes" cancelText="No">
                            <a-button type="danger" icon="delete"></a-button>
                          </a-popconfirm>
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div style="text-align: right; margin: 10px">
          <a-pagination v-model="pagination.current_page" :page-size="pagination.per_page" :total="pagination.total" @change="getUser" />
        </div>
    </div>
  </template>

<script>
  import {UserSvc} from '@/service/api'
  export default {
    layout: 'dashboard',
    middleware: 'admin-access',
    data () {
      return {
        data: [],
        pagination: {}
      }
    },
    methods: {
      getUser(page) {
        let vm = this

        if (page == undefined) {
          page = 1
        }

        UserSvc.getList(page).then((res) => {
          vm.data = res.data.data
          vm.pagination = res.data.meta.pagination
        })
      },
      resolveNumber(index) {
        return ((index + 1) + ((this.pagination.current_page - 1) * this.pagination.per_page))
      },
      deleteUser(id) {
        let vm = this
        UserSvc.delete(id).then((res) => {
          vm.$message.success('Delete successfull')
          vm.getUser(vm.pagination.current_page)
        })
      }
    },
    mounted(){
      this.getUser()
    }
  }
</script>
