input:disabled {
  background-color: #eee !important;
}
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
.spin-content{
  /* border: 1px solid #91d5ff; */
  background-color: #e6f7ff;
  /* padding: 30px; */
}

.ant-select-selection-selected-value {
  height : 30px !important;
  overflow: hidden !important;
}
.form .ant-form-item-label {
  text-align: left !important;
}
.form .ant-form-item {
  margin-bottom: 12px !important;
}

#dashboard-layout .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#dashboard-layout .trigger:hover {
  color: #1890ff;
}

#dashboard-layout .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.layout-content {
  margin: 24px 16px;
  margin-right: 0px;
  padding: 24px;
  background: white;
  min-height: 450px;
}

.profile-container {
  background-image: url('~assets/images/material-wallpaper.jpg');
  background-size: cover;
  overflow: hidden;
  padding: 12px;
  color: white;
}

.profile-info {
  width: 180px;
  overflow: hidden;
  margin-bottom: 0px;
}

.main-navigation {
  background-color: #eee;
  font-weight: 600;
  padding: 8px 16px;
  overflow: hidden;
}

.ant-menu-inline .ant-menu-item {
  margin-top: 0px !important;
}

.user-avatar {
  background-image: url('~assets/images/user-avatar.png');
  background-size: contain;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  background: #9152f8;
  background: -webkit-linear-gradient(to bottom, #7579ff, #b224ef);
  background: -o-linear-gradient(to bottom, #7579ff, #b224ef);
  background: -moz-linear-gradient(to bottom, #7579ff, #b224ef);
  background: linear-gradient(to bottom, #7579ff, #b224ef);
}

.content-login {
  width: 500px;
  border-radius: 15px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;
  background: white;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
}

.wrap-table100 {
  width: 1170px;
}

.table-custom {
  border-spacing: 1;
  background: white;
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.table-custom * {
  position: relative;
}
.table-custom td, .table-custom th {
  padding-left: 15px;
  padding-right: 15px;
}
.table-custom thead tr {
  height: 50px;
  background: #6c7ae0;
}
.table-custom tbody tr {
  height: 50px;
  border-bottom: 1px solid #eee;
}
.table-custom tbody tr:last-child {
  border: 0;
}
.table-custom td, .table-custom th {
  text-align: left;
}
.table-custom td.l, .table-custom th.l {
  text-align: right;
}
.table-custom td.c, .table-custom th.c {
  text-align: center;
}
.table-custom td.r, .table-custom th.r {
  text-align: center;
}


.table100-head th{
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

.table-custom tbody tr:nth-child(even) {
  /* background-color: #f5f5f5; */
}

.table-custom tbody tr {
  font-size: 14px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

.table-custom tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}


.custom-layout-header {
  height: 64px !important;
  overflow: hidden;
}

.table-contact-container {
    padding: 0px 50px;
  }

.table-info .right-column {
  text-align: right; 
  padding-right: 55px;
}
.table-info .left-column {
  text-align: left; 
  padding-left: 55px;
  font-size: 16px;
  font-weight: 500;
}


/*Custom input validation*/

.invalid-field, .invalid-field:hover {
  border-color: red;
  border: solid 1px red;
  border-radius: 5px;
}
.invalid-field:focus {
  border-color: red;
  box-shadow: 0 0 0 2px rgba(255, 100, 100, 0.2);
}
.invalid-text {
  color: red;
  font-size: 12px;
  display: block;
  line-height: 0px;
  margin-top: 10px;
}
.custom-icon-position .ant-input-prefix {
  top: 20px !important;
}
.ant-form-item-control {
  /*line-height: 20px !important;*/
}



/*Table 2*/
.loading-center {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.container-table {
  height: 240px;
  overflow-y: auto;
}
.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table {
  margin: 0px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}

.table .ant-input {
  width: 120px; 
  height: 25px;
  display: inline-block;
}
.cell {
  text-align: center;
  padding: 6px 12px;
  display: table-cell;
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}
@media screen and (max-width: 580px) {
  .loading-center {
    top: 200px;
  }
  .container-table {
    height: 360px;
  }
  .row {
    padding: 14px 0 7px;
    display: block;
  }
  .row .cell {
    padding: 2px 10px;
    width: 140px;
    margin-bottom: 10px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
  .cell-hide {
    display: none !important;
  }
  .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

/*end of table 2*/


/* Responsive Phone*/

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-title {
    font-size: 14px;
  }
  .xs-center {
    text-align: center;
  }


  .table-custom {
    display: block;
  }
  .table-custom > *, .table-custom tr, .table-custom td, .table-custom th {
    display: inline-block;
  }
  .table-custom thead {
    display: none;
  }
  .table-custom tbody tr {
    height: auto;
    padding: 20px 0px;
  }
  .table-custom tbody tr td {
    /*padding-left: 40% !important;*/
    margin-bottom: 7px;
    width: 49%;
  }
  .table-custom tbody tr td:last-child {
    margin-bottom: 0;
  }
  .table-custom tbody tr td:before {
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }

  .table-custom tbody tr {
    font-size: 12px;
  }

  .responsive-td {
    display: inline-block;
    margin-right: 10px;
  }

  .container-table100 {
    padding: 5px 0px;
  }
  .table-contact-container {
    padding: 0px 5px;
  }
  .table-info .right-column {
    text-align: right; 
    padding-right: 5px;
  }
  .table-info .left-column {
    text-align: left; 
    padding-left: 5px;
  }
  .layout-content {
    margin-right: 16px;
  }
}

