<template>
  <a-layout id="dashboard-layout">
    <sidebar></sidebar>
    <a-layout>
      <headers></headers>
      <a-layout-content class="layout-content">
        <nuxt />
      </a-layout-content>
      <footers></footers>
    </a-layout>
  </a-layout>
</template>

<script>
import Sidebar from '~/layouts/sidebar'
import Headers from '~/layouts/header'
import Footers from '~/layouts/footer'

export default {
  middleware: 'auth',
  components:{
    Sidebar,
    Headers,
    Footers
  }
}
</script>
