<template>
  <a-layout-header class="custom-layout-header" style="background: #fff; padding: 0">
    <a-row type="flex" justify="space-between">
      <a-col :xs="{span: 5}" :md="{span: 5}">
        <a-icon
          class="trigger"
          :type="collapsed ? 'menu-unfold' : 'menu-fold'"
          @click="toggle"
        />
      </a-col>
      <a-col :xs="{span: 16}" :md="{span: 10}">
        <h3 class="header-title">Customer Master Data - AXIQOE</h3>
      </a-col>
      <a-col :xs="{span: 0}" :md="{span: 3}">
        <img src="@/assets/images/logo-axi.png" height="56px" width="auto" style="margin-top:-12px" />
      </a-col>

    </a-row>

  </a-layout-header>
</template>

<script>
import {mapState} from 'vuex'

export default {
  computed: mapState([
    'collapsed'
  ]),
  methods: {
    toggle() {
      this.$store.dispatch('toggleSidebar')
    }
  }
}
</script>
