<template>
    <a-layout-sider :trigger="null" collapsedWidth="0" v-model="collapsed" breakpoint="lg" width="240" theme="light">
      <div class="profile-container" style="position: relative">
        <a-avatar class="user-avatar" :size="64" />
        <a-tag color="#87d068">{{role | capitalize}}</a-tag>
        <div v-show="!collapsed">
          <br />
          <p class="profile-info">{{user.name}}</p>
          <p class="profile-info">{{user.email}}</p>
          <div style="position: absolute; right: 12px; bottom: 12px">
            <a-dropdown :trigger="['click']" placement="bottomCenter">
              <a class="ant-dropdown-link" href="#">
                <a-icon style="color:white; font-size: 20px; font-weight: 600" type="down" />
              </a>
              <a-menu slot="overlay">
                <a-menu-item>
                  <nuxt-link to="/change-password">Change Password</nuxt-link>
                </a-menu-item>
                <a-menu-divider />
                <a-menu-item>
                    <a href="#" @click="logout">Logout</a>
                </a-menu-item>
              </a-menu>
            </a-dropdown>
          </div>
        </div>
      </div>
      <div class="main-navigation" v-show="!collapsed">
        MAIN NAVIGATION
      </div>
      <a-menu theme="light" :selectedKeys="[menu]" mode="inline" :openKeys.sync="openKeys">
        <a-menu-item key="customer" v-if="checkAccess('menu-customer')">
          <nuxt-link to="/customer/list">
            <a-icon type="team" />
            <span>Customer</span>
          </nuxt-link>
        </a-menu-item>
        <a-menu-item key="user" v-if="checkAccess('menu-user')">
          <nuxt-link to="/user/list">
            <a-icon type="user" />
            <span>User Management</span>
          </nuxt-link>
        </a-menu-item>

        <a-sub-menu key="report" :class="menu == 'report' ? 'ant-menu-item-selected' : ''">
          <span slot="title"><a-icon type="file-done" /><span>Report</span></span>
          <a-menu-item key="" :class="routeName == 'report-customer' ? 'ant-menu-item-selected' : ''">
            <nuxt-link to="/report/customer">
              <a-icon type="solution" />
              Customer
            </nuxt-link>
          </a-menu-item>
        </a-sub-menu>

        <a-menu-item key="log" v-if="checkAccess('menu-log')">
          <nuxt-link to="/log">
            <a-icon type="folder-open" />
            <span>Log</span>
          </nuxt-link>
        </a-menu-item>

        <a-menu-item key="inbox" v-if="checkAccess('menu-inbox')">
          <nuxt-link to="/inbox">
            <a-icon type="inbox" />
            <span>Inbox</span>
          </nuxt-link>
        </a-menu-item>
      </a-menu>
    </a-layout-sider>
</template>

<script>
import {mapState, mapGetters} from 'vuex'

export default {
  data(){
    return {
      openKeys: []
    }
  },
  computed: {
    ...mapState({
      collapsed: state => state.collapsed,
      user: state => state.auth.user,
      menu: state => state.menu,
      menuOpen: state => state.menuOpen,
      routeName: state => state.routeName,
    }),
    ...mapGetters({
      role : 'auth/role', // single roles array pertama
      roles: 'auth/roles' // multiple roles
    })
  },
  methods:{
    logout() {
      localStorage.removeItem("token");
      this.$router.push("/login")
    }
  },
  mounted() {
    this.openKeys = this.menuOpen
  },
  watch: {
    openKeys (val) {
      this.$store.dispatch('openMenu', val)
    },
  },
}
</script>
