<template>
  <div>
    <h3>Change Password</h3>
    <a-divider></a-divider>

    <a-alert v-if="showAlert" style="margin-bottom: 20px" :type="type" :message="message" banner closable
          :afterClose="alertClose" />

    <a-form @submit="handleSubmit">
      <a-form-item label="Old Password" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
        <a-input type="password" v-model="data.old_password" id="old_password" />
      </a-form-item>

      <a-form-item label="New Password" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
        <a-input type="password" v-model="data.password" id="password" />
      </a-form-item>

      <a-form-item label="New Password Confirmation" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
        <a-input type="password" v-model="data.confirmation_password" id="confirmation_password" />
      </a-form-item>

      <a-form-item
        :wrapper-col="{ span: 12, offset: 5 }"
      >
        <a-button type="primary" html-type="submit" :loading="isLoading">
          Change Password
        </a-button>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>
import {AuthSvc} from '@/service/api'
export default {
  layout: 'dashboard',
  data() {
    return {
      showAlert: false,
      message: '',
      type: 'error',
      isLoading: false,
      data: {}
    }
  },
  methods: {
    alertClose(){
      this.showAlert = false
    },
    compareToFirstPassword  (rule, value, callback) {
      const form = this.form;
      if (value && value !== form.getFieldValue('password')) {
        callback('Confirmation password must be same');
      } else {
        callback();
      }
    },
    handleSubmit (e) {
      e.preventDefault();
      let vm = this
      
      if (!this.validate()) {return}

      vm.isLoading = true
      vm.showAlert = false
      AuthSvc.changePassword(this.data).then((res) => {
        vm.type = 'success'
        vm.message = res.data.message
        vm.showAlert = true
      }).catch((err) => {
        vm.message = err
        vm.type = 'error'
        vm.showAlert = true
      }).then(() => {
        vm.isLoading = false
      })
        
    },
    validate() {
      this.clearError()

      if (!this.data.old_password) {
        this.drawErrorField('old_password', 'Please input old password!')
        return false
      }

      if (!this.data.password) {
        this.drawErrorField('password', 'Please input new password!')
        return false
      }

      if (!this.data.confirmation_password) {
        this.drawErrorField('confirmation_password', 'Please input password confirmation!')
        return false
      }

      if (this.data.password !== this.data.confirmation_password) {
        this.drawErrorField('confirmation_password', 'Confirmation password is not match with new password!')
        return false
      }

      return true
    },
  }
}
</script>
