<template>
  <div>
    <div class="title">
      <h3>Registrasi Customer</h3>
      <a-divider></a-divider>
    </div>

    <a-form :form="form" @submit="handleSubmit" hideRequiredMark>
      <div class="form">
          <a-row>
            <a-col :span="12">
              <a-form-item label="Record Type" :label-col="{span:8}" :wrapper-col="{span:10}">
                <a-select style="width: 160px" placeholder="Select Record Type"
                v-decorator="['record_type',{rules: [{ required: true, message: 'Please select record type!' }]}]">
                  <a-select-option key="organization" value="organization">Organization</a-select-option>
                  <a-select-option key="dummy2" value="dummy2">dummy2</a-select-option>
                  <a-select-option key="dummy3" value="dummy3">dummy3</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :span="12">
              <a-form-item label="Tax Group" :label-col="{span:8}" :wrapper-col="{span:10}">
                <a-select style="width: 200px" placeholder="Select Tax Group"
                v-decorator="['tax_group',{rules: [{ required: true, message: 'Please select tax group!' }]}]">
                  <a-select-option key="01" value="01">01 Wapu PPN OUT</a-select-option>
                  <a-select-option key="02" value="02">02 NON WAPU PPN OUT</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>

          <a-row>
            <a-col :span="12">
              <a-form-item label="Name" :label-col="{span:8}" :wrapper-col="{span:10}">
                <a-input placeholder=""
                v-decorator="['name',{rules: [{ required: true, message: 'Please input customer name!' }]}]"
                />
              </a-form-item>
            </a-col>
            <a-col :span="12">
              <a-form-item label="Tax Exempt Number" :label-col="{span:8}" :wrapper-col="{span:12}">
                  <a-select allowClear showSearch placeholder="Select/search tax number" style="width: 100%"
                  :filterOption="false" @change="changeTaxNumbers" @search="searchTaxNumbers" :notFoundContent="fetching ? undefined : null"
                  v-decorator="['tax_exempt_number',{rules: [{ required: true, message: 'Please select tax exempt number!' }]}]">
                    <a-spin v-if="fetching" slot="notFoundContent" tip="Searching data..." size="small"/>
                    <a-select-option v-for="x in taxNumbers" :key="x.VATNUM" :value="x.VATNUM">
                      {{x.NAME}} <br /> <small>{{x.VATNUM}}</small>
                    </a-select-option>
                  </a-select>
              </a-form-item>
            </a-col>
          </a-row>

          <a-row>
            <a-col :span="12">
              <a-form-item label="Customer Group" :label-col="{span:8}" :wrapper-col="{span:10}">
                <a-select style="width: 160px" placeholder="Select Customer Group"
                v-decorator="['customer_group',{rules: [{ required: true, message: 'Please select customer group!' }]}]">
                  <a-select-option key="AFF" value="AFF">AFF</a-select-option>
                  <a-select-option key="COR" value="COR">COR</a-select-option>
                  <a-select-option key="RTL" value="RTL">RTL</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :span="12">
              <a-form-item label="Prices include sales tax" :label-col="{span:8}" :wrapper-col="{span:10}">
                <a-switch :checked="options.is_price_include_tax" @change="onChangePriceTax">
                  <a-icon type="check" slot="checkedChildren"/>
                  <a-icon type="close" slot="unCheckedChildren"/>
                </a-switch>
              </a-form-item>
            </a-col>
          </a-row>

          <a-row>
            <a-col :span="12">
              <a-form-item label="Currency" :label-col="{span:8}" :wrapper-col="{span:10}">
                <a-select style="width: 160px" placeholder="Select currency"
                v-decorator="['currency',{rules: [{ required: true, message: 'Please select currency!' }]}]">
                  <a-select-option key="IDR" value="IDR">IDR</a-select-option>
                  <a-select-option key="EURO" value="EURO">EURO</a-select-option>
                  <a-select-option key="USD" value="USD">USD</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :span="12">
              <a-form-item label="Prefiks" :label-col="{span:8}" :wrapper-col="{span:10}">
                <a-select style="width: 200px" placeholder="Select prefiks"
                v-decorator="['prefix',{rules: [{ required: true, message: 'Please select prefix!' }]}]">
                  <a-select-option key="dummy1" value="dummy1">dummy1</a-select-option>
                  <a-select-option key="dummy2" value="dummy2">dummy2</a-select-option>
                  <a-select-option key="dummy3" value="dummy3">dummy3</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>

          <a-row>
            <a-col :span="12">
              <a-form-item label="Term of Payment" :label-col="{span:8}" :wrapper-col="{span:10}">
                <a-select style="width: 160px" placeholder="Select term of payment"
                v-decorator="['term_of_payment',{rules: [{ required: true, message: 'Please select term of payment!' }]}]">
                  <a-select-option key="dummy1" value="dummy1">dummy1</a-select-option>
                  <a-select-option key="dummy2" value="dummy2">dummy2</a-select-option>
                  <a-select-option key="dummy3" value="dummy3">dummy3</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :span="12">
              <a-form-item label="Digunggung" :label-col="{span:8}" :wrapper-col="{span:10}">
                <a-switch :checked="options.is_without_npwp" @change="onChangeDigunggung">
                  <a-icon type="check" slot="checkedChildren"/>
                  <a-icon type="close" slot="unCheckedChildren"/>
                </a-switch>
              </a-form-item>
            </a-col>
          </a-row>

          <a-row>
            <a-col :span="12">
              <a-form-item label="Mode of Delivery" :label-col="{span:8}" :wrapper-col="{span:10}">
                <a-select style="width: 160px" placeholder="Select delivery"
                v-decorator="['mode_of_delivery',{rules: [{ required: true, message: 'Please select mode of delivery!' }]}]">
                  <a-select-option key="standard" value="standard">Standard</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :span="12">
              <a-form-item label="Sales Taker" :label-col="{span:8}" :wrapper-col="{span:12}">
                <a-select allow-clear showSearch placeholder="Select/search sales taker" optionFilterProp="children"
                  style="width: 100%" :filterOption="filterSalesTaker"
                  v-decorator="['sales_taker',{rules: [{ required: true, message: 'Please select sales taker!' }]}]">
                  <div slot="dropdownRender" slot-scope="menu">
                    <v-nodes :vnodes="menu"/>
                    <a-divider style="margin: 4px 0;" />
                    <div style="padding: 5px; padding-bottom: 10px">
                        <a-button type="default" icon="plus" @click="openSalesModal" block>Add Sales</a-button>
                    </div>
                  </div>
                  <a-select-option :key="x.PERSONNELNUMBER" v-for="x in sales" :value="x.PERSON">
                    {{ x.NAME }} ({{ x.PERSONNELNUMBER }})
                  </a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>

        <a-divider></a-divider>
      </div>

      <div class="contact">
        <div style="text-align: right; padding-right: 55px">
          <a-button type="primary" @click="contactModal=true">Add</a-button>
        </div>
        <div class="limiter" style="padding: 0px 50px">
          <div class="container-table100">
            <div class="wrap-table100">
              <div class="table100">
                <table>
                  <thead>
                    <tr class="table100-head">
                      <th>Description</th>
                      <th>Type</th>
                      <th>Contact number/address</th>
                      <th>Primary</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(x, index) in contacts">
                      <td>{{ x.description }}</td>
                      <td>{{ x.type }}</td>
                      <td>{{ x.value }}</td>
                      <td>
                        <a-checkbox v-model="x.is_primary" @change="changePrimaryContact($event, x)"></a-checkbox>
                      </td>
                      <td>
                        <a-button type="default" icon="edit" @click="contactEdit(x, index)"></a-button>
                        <a-popconfirm title="Are you sure delete this contact?" @confirm="contactDelete(index)" okText="Yes" cancelText="No">
                          <a-button type="danger" icon="delete"></a-button>
                        </a-popconfirm>
                      </td>
                    </tr>
                    <tr v-if="contacts.length == 0">
                      <td colspan="5" style="text-align: center">No data</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <a-divider></a-divider>
      </div>

      <div class="attachment form">
        <a-row>
          <a-col :span="12">
            <a-form-item label="Attachment NPWP" :label-col="{span:8}" :wrapper-col="{span:10}">
              <a-upload :multiple="false" :fileList="fileList" @change="handleChangeFile">
                <a-button>
                  <a-icon type="upload" /> Upload
                </a-button>
              </a-upload>
            </a-form-item>
          </a-col>
        </a-row>
      </div>

      <div class="action" style="text-align: center; margin: 40px 0px">
        <a-button type="default" style="margin: 20px" html-type="submit" :loading="isLoadingSubmit">Save as Draft</a-button>
        <a-button type="primary" style="margin: 20px">Request Approval</a-button>
      </div>
    </a-form>



    <!-- MODAL Sales-->
    <a-modal title="Basic Modal" v-model="salesModal">
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
    </a-modal>

    <!-- MODAL Contacts -->
    <a-modal title="Form Contact" v-model="contactModal" okText="Submit" @ok="submitContact" @cancel="closeContactModal">
      <a-form :form="formContact">
        <a-form-item  label="Description" :label-col="{ span: 8 }" :wrapper-col="{ span: 14 }">
          <a-input
            v-decorator="[
              'description',
              {rules: [{ required: true, message: 'Please input the description!' }]}
            ]"
          />
        </a-form-item>

        <a-form-item label="Type" :label-col="{ span: 8 }" :wrapper-col="{ span: 14 }">
          <a-select
            v-decorator="[
              'type',
              {rules: [{ required: true, message: 'Please select the type!' }]}
            ]">
            <a-select-option key="phone" value="phone">Phone</a-select-option>
            <a-select-option key="fax" value="fax">Fax</a-select-option>
            <a-select-option key="email" value="email">Email</a-select-option>
          </a-select>
        </a-form-item>

        <a-form-item label="Contact Number" :label-col="{ span: 8 }" :wrapper-col="{ span: 14 }">
            <a-input
              v-decorator="[
                'value',
                {rules: [{ required: true, message: 'Please input the contact number!' }]}
              ]"
            />
          </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>

<script>
import {CustomerSvc} from '@/service/api'
import {mapState} from 'vuex'
import debounce from 'lodash/debounce'
var convert = require('xml-js');

export default {
  layout: 'dashboard',
  data () {
    this.searchTaxNumbers = debounce(this.searchTaxNumbers, 800)
    return {
      id: undefined,
      data: {},
      fileList: [],
      mode: '',
      salesModal: false,
      contactModal: false,
      contactIsEdit: false,
      contacts: [],
      options: {is_price_include_tax: false, is_without_npwp: false},
      idx: 0,
      isLoading: false,
      isLoadingSubmit: false
    }
  },
  beforeCreate () {
    this.form = this.$form.createForm(this);
    this.formContact = this.$form.createForm(this)
  },
  computed: {
    ...mapState({
      sales     : state => state.data.sales,
      taxNumbers: state => state.data.taxNumbers,
      fetching  : state => state.data.fetching
    })
  },
  methods: {
    handleChangeFile(info) {
      let fileList = [...info.fileList];

      // 1. Limit the number of uploaded files
      //    Only to show two recent uploaded files, and old ones will be replaced by the new
      fileList = fileList.slice(-1);

      // 2. read from response and show file link
      fileList = fileList.map((file) => {
        if (file.response) {
          // Component will show file.url as link
          file.url = file.response.url;
        }
        return file;
      });

      this.fileList = fileList
      console.log(this.fileList)
    },
    filterSalesTaker(input, option) {
      return option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
    },
    openSalesModal() {
      this.salesModal = true
    },
    searchTaxNumbers(value) {
      this.$store.dispatch('data/taxNumbers', value)
    },
    changeTaxNumbers(value) {
      if (value == '' || value == undefined) {
        this.$store.dispatch('data/taxNumbers')
      }
    },
    changePrimaryContact(e, contact) {
      if (e.target.checked == true) {
        for (var i in this.contacts) {
          this.contacts[i].is_primary = false
        }
      }

      contact.is_primary = e.target.checked
    },
    onChangePriceTax(checked) {
      this.options.is_price_include_tax = checked
    },
    onChangeDigunggung(checked) {
      this.options.is_without_npwp = checked
    },
    contactDelete(idx) {
      this.contacts.splice(idx, 1)
    },
    closeContactModal() {
      this.contactIsEdit=false
      this.formContact.resetFields()
    },
    contactEdit(data, idx) {
      let vm = this
      this.contactIsEdit = true
      this.contactModal = true
      this.idx = idx

      setTimeout(function(){
        vm.formContact.setFieldsValue({
          description: data.description,
          type: data.type,
          value: data.value
        })
      }, 500)

    },
    submitContact (e) {
      e.preventDefault();

      let vm = this
      this.formContact.validateFields((error, values) => {
        if (!error) {
          if (!vm.contactIsEdit) {
            //insert new
            values.is_primary = false
            vm.contacts.push(values)
          } else {
            vm.contacts[this.idx].description = values.description
            vm.contacts[this.idx].type = values.type
            vm.contacts[this.idx].value = values.value
          }
          this.contactModal = false
          this.formContact.resetFields()
        }
      })
    },
    resolveParams(values) {
      values.is_price_include_tax = this.options.is_price_include_tax
      values.is_without_npwp = this.options.is_without_npwp

      if (this.mode == 'edit') {
        values.contact_ids = []
      }
      values.contact_descriptions = []
      values.contact_types = []
      values.contact_values = []
      values.contact_is_primaries = []
      for (var i in this.contacts) {
        if (this.mode == 'edit') {
          values.contact_ids.push(this.contacts[i].id == undefined ? null : this.contacts[i].id)
        }
        values.contact_descriptions.push(this.contacts[i].description)
        values.contact_types.push(this.contacts[i].type)
        values.contact_values.push(this.contacts[i].value)
        values.contact_is_primaries.push(this.contacts[i].is_primary)
      }

      //dummy
      values.city = "dummy"
      values.street = "dummy"
      values.state = "dummy"
      values.status = this.data.status

      //for files upload
      if (this.fileList.length > 0 && this.fileList[0].uid != -1) {
        values.npwp_file = this.fileList[0].originFileObj
      }

      return values
    },
    handleSubmit(e) {
      e.preventDefault()

      let vm = this
      this.form.validateFieldsAndScroll((error, values) => {
        if (!error) {
          let params = vm.resolveParams(values)

          if (vm.mode == 'new') {
            vm.insertCustomer(params)
          } else {
            vm.updateCustomer(params)
          }
        }
      })
    },
    insertCustomer(params) {
      let vm = this
      vm.isLoadingSubmit = true
      CustomerSvc.insert(params).then((res) => {
        vm.$message.success("Data save as Draft Successfull!")
      }).catch((err) => {
        vm.$message.error(err)
      }).then(() => {
        vm.isLoadingSubmit = false
      })
    },
    updateCustomer(params) {
      let vm = this
      vm.isLoadingSubmit = true
      CustomerSvc.update(this.id, params).then((res) => {
        vm.$message.success("Data save as Draft Successfull!")
      }).catch((err) => {
        vm.$message.error(err)
      }).then(() => {
        vm.isLoadingSubmit = false
      })
    },
    init() {
      let vm = this
      this.id = this.$route.params.id

      if (this.id == undefined) {
        this.mode = 'new'

        //binding init
        this.data.status = 'draft'
        this.options.is_price_include_tax = false
        this.options.is_without_npwp = false
        this.form.setFieldsValue({
          record_type     : 'organization',
          customer_group  : 'AFF',
          currency        : 'IDR',
          mode_of_delivery: 'standard',
          tax_group       : '01',
        });
      } else {
        this.mode = 'edit'

        this.isLoading = true
        CustomerSvc.getDetail(this.id).then((res) => {
          console.log(res.data)
          vm.data = res.data.data

          vm.options.is_price_include_tax = vm.data.is_price_include_tax
          vm.options.is_without_npwp = vm.data.is_without_npwp
          vm.contacts = vm.data.contacts
          vm.form.setFieldsValue({
            record_type       : vm.data.record_type,
            name              : vm.data.name,
            customer_group    : vm.data.customer_group,
            currency          : vm.data.currency,
            term_of_payment   : vm.data.term_of_payment,
            mode_of_delivery  : vm.data.mode_of_delivery,
            tax_group         : vm.data.tax_group,
            tax_exempt_number : vm.data.tax_exempt_number,
            sales_taker       : vm.data.sales_taker,
            prefix            : vm.data.prefix
          })

          //binding file
          if (vm.data.npwp_url) {
            vm.fileList = [{
              uid: '-1',
              name: 'npwp file',
              status: 'done',
              url: vm.data.npwp_url,
            }]
          }
        }).catch((err) => {
          vm.$message.error(err)
        }).then(() => {
          vm.isLoading = false
        })
      }
    }
  },
  mounted(){
    this.$store.dispatch("data/sales")
    this.$store.dispatch("data/taxNumbers")

    this.init()
  },
  components: {
    VNodes: {
      functional: true,
      render: (h, ctx) => ctx.props.vnodes
    }
  },
}
</script>
