<template>
  <div class="container-login">
    <div class="content-login">
      <a-form @submit="login">
        <h2>
          Axiqoe Customer Master Data Login
        </h2>

        <a-alert v-if="showAlert" style="margin-bottom: 20px" type="error" :message="message" banner closable
          :afterClose="alertClose" />

        <a-form-item>
          <a-input size="large" placeholder="email" class="custom-icon-position" v-model="data.email" id="email">
            <a-icon slot="prefix" type="user" />
          </a-input>
        </a-form-item>

        <a-form-item>
          <a-input size="large" type="password" class="custom-icon-position" placeholder="password" 
            v-model="data.password" id="password">
            <a-icon slot="prefix" type="lock" />
          </a-input>
        </a-form-item>

        <a-button type="primary" :loading="isLoading" html-type="submit">
          Login
        </a-button>

      </a-form>
    </div>
  </div>

</template>

<script>

  export default {
    layout: 'default',
    middleware: 'guest',
    data(){
      return {
        email: '',
        password: '',
        isLoading: false,
        showAlert: false,
        message: '',
        data: {}
      }
    },
    methods: {
      login(e){
        e.preventDefault()
        let vm = this
        
        if (!this.validate()) {return}

        this.isLoading = true
        this.showAlert = false
        this.$store.dispatch('auth/login', this.data).then((response) => {
          $nuxt._router.push('/')
        }).catch((error) => {
          vm.message = error
          vm.showAlert = true
        }).then(() => {
          vm.isLoading = false
        })
      },
      validate() {
        this.clearError()

        if (!this.data.email) {
          this.drawErrorField('email', 'Please input email!')
          return false
        }

        if (!this.data.password) {
          this.drawErrorField('password', 'Please input password!')
          return false
        }

        return true
      },
      alertClose(){
        this.showAlert = false
      }
    },
    mounted(){

    }

  }
</script>
