<template>
	<div>
		<!-- <a-button type="primary" :loading="isLoading" v-on:click="onexport">Excel download</a-button> -->
    <a-row type="flex" justify="space-between" align="middle">
      <a-col :xs="{span: 24}" :md="{span: 24}">
        <h3 style="margin-bottom: 0px">Report Customer</h3>
      </a-col>
    </a-row>

    <a-divider />

    <a-form @submit="generateReport">
      <a-row>
        <a-col :xs="{span: 24}" :md="{span: 6}">
          <a-form-item label="Created Date Range" colon>
            <a-range-picker @change="onChangeDate" />
          </a-form-item>
        </a-col>

        <a-col :xs="{span: 24}" :md="{span: 4, offset: 1}">
          <a-form-item label="Customer Name" colon>
            <input class="ant-input" v-model.lazy="filter.name" />
          </a-form-item>
        </a-col>

        <a-col :xs="{span: 24}" :md="{span: 4, offset: 1}">
          <a-form-item label="Status" colon>
            <a-select v-model="filter.status">
              <a-select-option value="">All</a-select-option>
              <a-select-option value="draft">Draft</a-select-option>
              <a-select-option value="request_approval_marketing">Request Approval Marketing</a-select-option>
              <a-select-option value="request_approval_finance">Request Approval Finance</a-select-option>
              <a-select-option value="rejected">Rejected</a-select-option>
              <a-select-option value="approved">Approved</a-select-option>
            </a-select>
          </a-form-item>
        </a-col>


        <a-col :xs="{span: 24}" :md="{span: 8, offset: 8}" style="margin-top: 40px">
          <a-form-item>
            <a-button type="primary" block :loading="isLoading" size="large" html-type="submit">Generate Report</a-button>
          </a-form-item>
        </a-col>
      </a-row>
    </a-form>
	</div>
</template>

<script>
import XLSX from 'xlsx'
import {CustomerSvc} from '@/service/api'

export default {
	layout: 'dashboard',
  data: () => ({
  	data: [],
  	filter: {
      name: '',
      status: '',
      start_date: '',
      end_date: ''
    },
    isLoading: false,
  }),
  methods: {
    onChangeDate(date, dateString) {
      this.filter.start_date = dateString[0]
      this.filter.end_date = dateString[1]
      console.log(date, dateString);
    },
  	resolveData() {
  		let result = []

  		for(var i in this.data) {
  			var x = {}
  			x.name = this.data[i].name
  			x.currency = this.data[i].currency
  			x.city = this.data[i].city
  			x.mode_of_delivery = this.data[i].mode_of_delivery
  			x['customer group'] = this.data[i].customer_group
  			x.state = this.data[i].state
  			x.status = this.data[i].status
  			x['term of payment'] = this.data[i].term_of_payment

  			result.push(x)
  		}

  		return result
  	},
    generateReport (e) { // On Click Excel download button
      e.preventDefault()
    	let vm = this
      let page = 1
      let perpage = 99999

      vm.data = []
      vm.isLoading = true
      CustomerSvc.getList(page, perpage, vm.filter).then((res) => {
        vm.data = res.data.data

        let data = vm.resolveData()
        var users = XLSX.utils.json_to_sheet(data)
      
	      var wb = XLSX.utils.book_new()
	      XLSX.utils.book_append_sheet(wb, users, 'user data')
	      XLSX.writeFile(wb, 'users.xlsx')
      }).catch((err) => {

      }).then(() => {
        vm.isLoading = false
      })
    }
  }
}
</script>