<template>
  <div>
    <div class="title">
      <h3>Registrasi Customer</h3>
      <a-divider></a-divider>
    </div>

    <a-spin tip="Loading data..." :spinning="isLoading">
      <a-form @submit="saveDraft" hideRequiredMark>
        <div class="form">
            <a-row>
              <a-col :xs="{span: 24}" :md="{span: 12}">
                <a-form-item label="Customer Type" :label-col="{span:8, offset:1}" :wrapper-col="{span:10}">
                  <a-select style="width: 160px"v-model="data.customer_type" id="record_type" placeholder="Select Customer Type">
                    <a-select-option key="B2B" value="B2B">B2B</a-select-option>
                    <a-select-option key="B2C" value="B2C">B2C</a-select-option>
                    <a-select-option key="B2G" value="B2G">B2G</a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
              <a-col :xs="{span: 24}" :md="{span: 12}">
                <a-form-item label="Mode of Delivery" :label-col="{span:8}" :wrapper-col="{span:10}">
                  <a-select style="width: 160px" v-model="data.mode_of_delivery" id="mode_of_delivery" placeholder="Select delivery">
                    <a-select-option v-for="x in deliveryModes" :key="x.Code" :value="x.Code">{{ x.Code }}</a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
            </a-row>

            <a-row>
              <a-col :xs="{span: 24}" :md="{span: 12}">
                <a-form-item label="Customer Location" :label-col="{span:8, offset:1}" :wrapper-col="{span:10}">
                  <a-select style="width: 160px" v-model="data.customer_location" id="tax_group" placeholder="Select Customer Location">
                    <a-select-option key="Jakarta" value="Jakarta">Jakarta</a-select-option>
                    <a-select-option key="LuarJakarta" value="Luar Jakarta">Luar Jakarta</a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
              <a-col :xs="{span: 24}" :md="{span: 12}">
                <a-form-item label="Tax Group" :label-col="{span:8}" :wrapper-col="{span:11}">
                  <a-select style="width: 100%" v-model="data.tax_group" id="tax_group" placeholder="Select Tax Group">
                    <a-select-option v-for="x in taxGroups" :key="x.TaxGroup" :value="x.TaxGroup">
                      {{ x.TaxGroup }} {{ x.TaxGroupName }}
                    </a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
            </a-row>

            <a-row>
              <a-col :xs="{span: 24}" :md="{span: 12}">
                <a-form-item label="Record Type" :label-col="{span:8, offset:1}" :wrapper-col="{span:10}">
                  <a-select v-model="data.record_type" id="record_type" placeholder="Select Record Type">
                    <a-select-option key="2" value="2">Organization</a-select-option>
                    <a-select-option key="1" value="1">Person</a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
              <a-col :xs="{span: 24}" :md="{span: 12}">
                <a-form-item label="Tax Exempt Number" :label-col="{span:8}" :wrapper-col="{span:14}">
                    <a-row type="flex" justify="space-between" align="middle">
                      <a-col :xs="{span: 19}" :md="{span: 19}">
                        <a-select allowClear showSearch v-model="data.tax_exempt_number" id="tax_exempt_number" placeholder="Select/search tax number" style="width: 100%" :filterOption="false" @change="changeTaxNumbers" 
                        @search="searchTaxNumbers" :notFoundContent="fetching ? undefined : null">
                          <!-- <div slot="dropdownRender" slot-scope="menu">
                            <v-nodes :vnodes="menu" />
                            <a-divider style="margin: 4px 0;" />
                            <div style="padding: 5px; padding-bottom: 10px">
                                <a-button type="default" icon="plus" @click="openTaxModal" id="tax_modal" block> Tax Exempt Number</a-button>
                            </div>
                          </div> -->
                          <a-select-option :key="x.NAME" v-for="x in taxNumbers" :value="x.VATNUM">
                            {{x.NAME}} <br /> <small>{{x.VATNUM}}</small>
                          </a-select-option>
                          <a-spin v-if="fetching" slot="notFoundContent" tip="Searching data..." size="small"/>
                        </a-select>
                      </a-col>
                      <a-col :xs="{span: 4}" :md="{span: 4}">
                        <a-button type="default" icon="plus" @click="openTaxModal"></a-button>
                      </a-col>
                    </a-row>
                </a-form-item>
              </a-col>
            </a-row>

            <a-row>
              <a-col :xs="{span: 24}" :md="{span: 12}">
                <a-form-item label="Name" :label-col="{span:8, offset:1}" :wrapper-col="{span:10}">
                  <input class="ant-input" v-model.lazy="data.name" id="name" />
                </a-form-item>
              </a-col>
              <a-col :xs="{span: 24}" :md="{span: 12}">
                <a-form-item label="Prices include sales tax" :label-col="{span:8}" :wrapper-col="{span:10}">
                  <a-switch :checked="data.is_price_include_tax" @change="onChangePriceTax">
                    <a-icon type="check" slot="checkedChildren"/>
                    <a-icon type="close" slot="unCheckedChildren"/>
                  </a-switch>
                </a-form-item>
              </a-col>
            </a-row>

            <a-row>
              <a-col :xs="{span: 24}" :md="{span: 12}">
                <a-form-item label="Customer Group" :label-col="{span:8, offset:1}" :wrapper-col="{span:10}">
                  <a-select v-model="data.customer_group" id="customer_group" placeholder="Select Customer Group">
                    <a-select-option :key="x.Custgroup" :value="x.Custgroup" v-for="x in customerGroups">{{ x.NAME }}</a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
              <a-col :xs="{span: 24}" :md="{span: 12}">
                <a-form-item label="Prefiks" :label-col="{span:8}" :wrapper-col="{span:11}">
                  <a-select v-model="data.prefix" id="prefix" placeholder="Select prefiks">
                    <a-select-option v-for="x in prefix" :key="x.KRE_ID_Tax_Prefiks" :value="x.KRE_ID_Tax_Prefiks">
                      <div style="white-space: pre-line;">{{ x.TaxGroup }} {{ x.Description }}</div>
                    </a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
            </a-row>

            <a-row>
              <a-col :xs="{span: 24}" :md="{span: 12}">
                <a-form-item label="Currency" :label-col="{span:8, offset:1}" :wrapper-col="{span:10}">
                  <a-select style="width: 160px" v-model="data.currency" id="currency" placeholder="Select currency">
                    <a-select-option key="IDR" value="IDR">IDR</a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
              <a-col :xs="{span: 24}" :md="{span: 12}">
                <a-form-item label="Digunggung" :label-col="{span:8}" :wrapper-col="{span:10}">
                  <a-switch :checked="data.is_without_npwp" @change="onChangeDigunggung">
                    <a-icon type="check" slot="checkedChildren"/>
                    <a-icon type="close" slot="unCheckedChildren"/>
                  </a-switch>
                </a-form-item>
              </a-col>
            </a-row>

            <a-row>
              <a-col :xs="{span: 24}" :md="{span: 12}">
                <a-form-item label="Term of Payment" :label-col="{span:8, offset:1}" :wrapper-col="{span:10}">
                  <a-select style="width: 160px" v-model="data.term_of_payment" id="term_of_payment" placeholder="Select term of payment">
                    <a-select-option v-for="x in termOfPayments" :key="x.PaymTermId" :value="x.PaymTermId">{{ x.PaymTermId }}</a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
              <a-col :xs="{span: 24}" :md="{span: 12}">
                <a-form-item label="Sales Taker" :label-col="{span:8}" :wrapper-col="{span:14}">
                  <a-row type="flex" justify="space-between" align="middle">
                    <a-col :xs="{span: 19}" :md="{span: 19}">
                      <a-select allow-clear showSearch placeholder="Select/search sales taker" optionFilterProp="children"
                         :filterOption="filterSalesTaker" v-model="data.sales_taker" id="sales_taker">
                        <!-- <div slot="dropdownRender" slot-scope="menu">
                          <v-nodes :vnodes="menu"/>
                          <a-divider style="margin: 4px 0;" />
                          <div style="padding: 5px; padding-bottom: 10px">
                              <a-button type="default" icon="plus" @click="openSalesModal" block> Sales</a-button>
                          </div>
                        </div> -->
                        <a-select-option :key="x.PERSONNELNUMBER" v-for="x in workers" :value="x.PERSON">
                          {{ x.NAME }} ({{ x.PERSONNELNUMBER }})
                        </a-select-option>
                      </a-select>
                    </a-col>
                    <a-col :xs="{span: 4}" :md="{span: 4}">
                      <a-button type="default" icon="plus" @click="openSalesModal"></a-button>
                    </a-col>
                  </a-row>
                </a-form-item>
              </a-col>
            </a-row>

            <a-row>
              <a-col :xs="{span: 24}" :md="{span: 12}">
                <a-form-item label="Method of Payment" :label-col="{span:8, offset:1}" :wrapper-col="{span:10}">
                  <a-select v-model="data.method_of_payment" id="method_of_payment" placeholder="Select method of payment">
                    <a-select-option :key="x.Paymmode" :value="x.Paymmode" v-for="x in methodOfPayments">{{ x.Name }}</a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
            </a-row>

          <a-divider></a-divider>
        </div>

        <div class="address">
          <a-row class="table-info" type="flex" justify="space-between" align="middle">
            <a-col :xs="{span: 12}" :md="{span: 6}" class="left-column">
              Address Customer
            </a-col>
            <a-col :xs="{span: 12}" :md="{span: 6}" class="right-column">
              <a-button type="primary" @click="openAddressModal" icon="plus" v-if="checkAccess('add-address')">Address</a-button>
            </a-col>
          </a-row>

          <div class="table-contact-container">
            <div class="container-table100">
              <div class="wrap-table100">
                <div class="table100">
                  <table class="table-custom">
                    <thead>
                      <tr class="table100-head">
                        <th>Name</th>
                        <th>Address</th>
                        <th>Purpose</th>
                        <th>Primary</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(x, index) in addresses">
                        <td><a-col class="responsive-td" :xs="{span: 0}">Name :</a-col>{{ x.name }}</td>
                        <td><a-col class="responsive-td" :xs="{span: 0}">Address :</a-col>{{ x.street }}</td>
                        <td><a-col class="responsive-td" :xs="{span: 0}">Purpose :</a-col>{{ x.purpose }}</td>
                        <td>
                          <a-col class="responsive-td" :xs="{span: 0}">Primary :</a-col>
                          <a-checkbox v-model="x.is_primary" @change="changePrimaryAddress($event, x)"></a-checkbox>
                        </td>
                        <td>
                          <a-button type="default" icon="edit" @click="addressEdit(x, index)" v-if="checkAccess('edit-address')"></a-button>
                          <a-popconfirm title="Are you sure delete this address?" @confirm="addressDelete(index)" okText="Yes" cancelText="No">
                            <a-button type="danger" icon="delete"></a-button>
                          </a-popconfirm>
                        </td>
                      </tr>
                      <tr v-if="addresses.length == 0">
                        <td colspan="5" style="text-align: center">No data</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <a-divider></a-divider>
        </div>

        <div class="contact">
          <a-row class="table-info" type="flex" justify="space-between" align="middle">
            <a-col :xs="{span: 12}" :md="{span: 6}" class="left-column">
              Contact Information
            </a-col>
            <a-col :xs="{span: 12}" :md="{span: 6}" class="right-column">
              <a-button type="primary" @click="contactModal=true" icon="plus" v-if="checkAccess('add-contact')">Contact</a-button>
            </a-col>
          </a-row>

          <div class="table-contact-container">
            <div class="container-table100">
              <div class="wrap-table100">
                <div class="table100">
                  <table class="table-custom">
                    <thead>
                      <tr class="table100-head">
                        <th>Description</th>
                        <th>Type</th>
                        <th>Contact number/address</th>
                        <th>Primary</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(x, index) in contacts">
                        <td><a-col class="responsive-td" :xs="{span: 0}">Description :</a-col>{{ x.description }}</td>
                        <td><a-col class="responsive-td" :xs="{span: 0}">Type :</a-col>{{ x.type }}</td>
                        <td><a-col class="responsive-td" :xs="{span: 0}">Contact :</a-col>{{ x.value }}</td>
                        <td>
                          <a-col class="responsive-td" :xs="{span: 0}">Primary :</a-col>
                          <a-checkbox v-model="x.is_primary" @change="changePrimaryContact($event, x)"></a-checkbox>
                        </td>
                        <td>
                          <a-button type="default" icon="edit" @click="contactEdit(x, index)" v-if="checkAccess('edit-contact')"></a-button>
                          <a-popconfirm title="Are you sure delete this contact?" @confirm="contactDelete(index)" okText="Yes" cancelText="No">
                            <a-button type="danger" icon="delete"></a-button>
                          </a-popconfirm>
                        </td>
                      </tr>
                      <tr v-if="contacts.length == 0">
                        <td colspan="5" style="text-align: center">No data</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <a-divider></a-divider>
        </div>

        <div class="attachment form">
          <a-row>
            <a-col :span="12">
              <a-form-item label="Attachment NPWP" :label-col="{span:8}" :wrapper-col="{span:10}">
                <a-upload :multiple="false" :fileList="fileList" @change="handleChangeFile">
                  <a-button>
                    <a-icon type="upload" /> Upload
                  </a-button>
                </a-upload>
              </a-form-item>
            </a-col>
          </a-row>
        </div>

        <div class="action" style="text-align: center; margin: 40px 0px">
          <a-button type="default" style="margin: 20px" html-type="submit" :loading="isLoadingSubmit" v-if="checkAccess('draft-action')" >Save as Draft</a-button>
          <a-button type="primary" style="margin: 20px" @click="requestApproval" :loading="isLoadingApproval" v-if="checkAccess('request-approval')">Request Approval</a-button>
          <a-button type="primary" style="margin: 20px" @click="approve" v-if="checkAccess('approved')" :loading="isLoadingApprove">Approve Customer</a-button>
          <a-button type="danger" style="margin: 20px" @click="rejectApproval" v-if="checkAccess('reject-action')" :loading="isLoadingReject" >Reject Approval</a-button>
        </div>
      </a-form>
    </a-spin>

    <!-- MODAL NPWP-->
    <a-modal title="Form Tax Exempt Number" v-model="taxModal">
      <a-form>
        <a-form-item  label="Tax Exempt Number" :label-col="{ span: 8 }" :wrapper-col="{ span: 14 }">
          <input type="tel" class="ant-input" v-model.lazy="tax.NPWPNumber" id="tax_npwp_number" />
        </a-form-item>
        <a-form-item  label="Company Name" :label-col="{ span: 8 }" :wrapper-col="{ span: 14 }">
          <input class="ant-input" v-model.lazy="tax.companyName" id="tax_company_name" />
        </a-form-item>
        <a-form-item  label="Company Address" :label-col="{ span: 8 }" :wrapper-col="{ span: 14 }">
          <input class="ant-input" v-model.lazy="tax.companyAddress" id="tax_company_address" />
        </a-form-item>
      </a-form>

      <template slot="footer">
        <a-button key="back" @click="closeTaxModal">Cancel</a-button>
        <a-button key="submit" type="primary" :loading="isLoadingTax" @click="submitTax">
          Submit
        </a-button>
      </template>
    </a-modal>

    <!-- MODAL Sales-->
    <a-modal title="Form Sales" v-model="salesModal">
      <a-form>
        <a-form-item  label="First Name" :label-col="{ span: 8 }" :wrapper-col="{ span: 14 }">
          <input class="ant-input" v-model.lazy="sales.firstName" id="sales_first_name" />
        </a-form-item>
        <a-form-item  label="Middle Name" :label-col="{ span: 8 }" :wrapper-col="{ span: 14 }">
          <input class="ant-input" v-model.lazy="sales.middleName" id="sales_middle_name" />
        </a-form-item>
        <a-form-item  label="Last Name" :label-col="{ span: 8 }" :wrapper-col="{ span: 14 }">
          <input class="ant-input" v-model.lazy="sales.lastName" id="sales_last_name" />
        </a-form-item>
      </a-form>

      <template slot="footer">
        <a-button key="back" @click="closeSalesModal">Cancel</a-button>
        <a-button key="submit" type="primary" :loading="isLoadingSales" @click="submitSales">
          Submit
        </a-button>
      </template>
    </a-modal>

    <!-- MODAL Contacts -->
    <a-modal title="Form Contact" v-model="contactModal" okText="Submit" @ok="submitContact" @cancel="closeContactModal">
      <a-form>
        <a-form-item  label="Description" :label-col="{ span: 8 }" :wrapper-col="{ span: 14 }">
          <input class="ant-input" v-model.lazy="contact.description" id="contact_description" />
        </a-form-item>

        <a-form-item label="Type" :label-col="{ span: 8 }" :wrapper-col="{ span: 14 }">
          <a-select v-model="contact.type" id="contact_type">
            <a-select-option key="phone" value="phone">Phone</a-select-option>
            <a-select-option key="fax" value="fax">Fax</a-select-option>
            <a-select-option key="email" value="email">Email</a-select-option>
          </a-select>
        </a-form-item>

        <a-form-item label="Contact Number" :label-col="{ span: 8 }" :wrapper-col="{ span: 14 }">
          <input class="ant-input" v-model.lazy="contact.value" id="contact_value" />
        </a-form-item>
      </a-form>
    </a-modal>





    <!-- Address Modal -->
    <a-modal title="Address Customer" v-model="addressModal" okText="Submit" @ok="submitAddress" @cancel="closeAddressModal" :width="1200" style="top: 20px;">
      <a-form>
        <a-row>
          <a-col :xs="{span: 24}" :md="{span: 8}">
            <a-form-item  label="Name" :label-col="{ span: 6 }" :wrapper-col="{ span: 14 }">
              <input class="ant-input" v-model.lazy="address.name" id="address_name" />
            </a-form-item>
          </a-col>
          <a-col :xs="{span: 24}" :md="{span: 8}">
            <a-form-item label="Purpose" :label-col="{ span: 6 }" :wrapper-col="{ span: 14 }">
              <a-select v-model="address.purpose" id="address_purpose">
                <a-select-option key="Business" value="Business">Business</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :xs="{span: 24}" :md="{span: 8}">
            <a-form-item label="Country" :label-col="{ span: 6 }" :wrapper-col="{ span: 14 }">
              <a-select v-model="address.country" id="address_country">
                <a-select-option key="IDN" value="IDN">IDN</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
        </a-row>

        <a-row>
          <a-col :xs="{span: 24}" :md="{span: 16}">
            <a-form-item  label="Street" :label-col="{ span: 3 }" :wrapper-col="{ span: 19 }">
              <textarea class="ant-input" v-model.lazy="address.street" id="address_street" />
            </a-form-item>
          </a-col>
          <a-col :xs="{span: 24}" :md="{span: 8}">
            <a-form-item label="Postal Code" :label-col="{ span: 6 }" :wrapper-col="{ span: 14 }">
              <input class="ant-input" v-model.lazy="address.postal_code" id="address_postal_code" disabled="true" />
            </a-form-item>
          </a-col>
        </a-row>

        <a-row>
          <a-col :xs="{span: 24}" :md="{span: 8}">
            <a-form-item label="State" :label-col="{ span: 6 }" :wrapper-col="{ span: 14 }">
              <input class="ant-input" v-model.lazy="address.state" id="address_state" disabled="true" />
            </a-form-item>
          </a-col>
          <a-col :xs="{span: 24}" :md="{span: 8}">
            <a-form-item label="City" :label-col="{ span: 6 }" :wrapper-col="{ span: 14 }">
              <input class="ant-input" v-model.lazy="address.city" id="address_city" disabled="true" />
            </a-form-item>
          </a-col>
          <a-col :xs="{span: 24}" :md="{span: 8}">
            <a-form-item label="District" :label-col="{ span: 6 }" :wrapper-col="{ span: 14 }">
              <input class="ant-input" v-model.lazy="address.district" id="address_district" disabled="true" />
            </a-form-item>
          </a-col>
        </a-row>
     
        <a-row>
          <a-col :xs="{span: 24}" :md="{span: 22, offset: 1}" class="container-table">
            <div class="table" style="position: relative;">
              <div class="row header blue">
                <div class="cell">
                  <input class="ant-input" @input="searchRegions($event, 'zipcode')" v-model.lazy="filterRegion.zipcode" /><br />
                  Postal Code
                </div>
                <div class="cell">
                  <input class="ant-input" @input="searchRegions($event, 'state')" v-model.lazy="filterRegion.state" /><br />
                  State
                </div>
                <div class="cell">
                  <input class="ant-input" @input="searchRegions($event, 'city')" v-model.lazy="filterRegion.city" /><br />
                  City
                </div>
                <div class="cell">
                  <input class="ant-input" @input="searchRegions($event, 'district')" v-model.lazy="filterRegion.district" /><br />
                  District
                </div>
                <div class="cell cell-hide">
                  Action
                </div>
              </div>
              
              <div class="row" v-for="x in regions">
                <div class="cell" data-title="Postal Code">
                  {{ x.ZipCode }}
                </div>
                <div class="cell" data-title="State">
                  {{ x.State }}
                </div>
                <div class="cell" data-title="City">
                  {{ x.City }}
                </div>
                <div class="cell" data-title="District">
                  {{ x.District }}
                </div>
                <div class="cell">
                  <a-button type="default" icon="select" @click="selectRegion(x)">Select</a-button>
                </div>
              </div>

              <div class="loading-center" v-if="isLoadingRegion">
                <a-icon type="sync" spin /> Sync Data
              </div>
              <div class="loading-center" v-if="!isLoadingRegion && regions.length == 0">
                No Data
              </div>
              
            </div>
          </a-col>
        </a-row>
        

        

        
      </a-form>
    </a-modal>
  </div>
</template>

<script>
import {CustomerSvc, AXSvc} from '@/service/api'
import {mapState, mapGetters} from 'vuex'
import debounce from 'lodash/debounce'
var convert = require('xml-js');

export default {
  layout: 'dashboard',
  data () {
    this.searchTaxNumbers = debounce(this.searchTaxNumbers, 800)
    this.searchRegions = debounce(this.searchRegions, 500)
    return {
      id: undefined,
      data: {
        name: '',
        customer_group: 'AFF',
        currency: 'IDR',
        record_type: '2',
        tax_group: '01',
        tax_exempt_number: '',
        prefix: '',
        term_of_payment: '',
        mode_of_delivery: 'standard',
        sales_taker: '',
        is_price_include_tax: false,
        is_without_npwp: false,
        status: 'draft'
      },
      contact: {
        description: '',
        type: '',
        value: '',
        is_primary: false
      },
      address: {
        name: '',
        address: '',
        country: 'IDN',
        purpose: 'Business',
        is_primary: false,
        city: '',
        district: '',
        state: '',
        postal_code: ''
      },
      sales: {
        firstName: '',
        middleName : '',
        lastName: ''
      },
      tax: {
        NPWPNumber: '',
        companyName: '',
        companyAddress: ''
      },
      fileList: [],
      required: false,
      mode: '',
      salesModal: false,
      taxModal: false,
      contactModal: false,
      contactIsEdit: false,
      contacts: [],
      addressModal: false,
      addressIsEdit: false,
      addresses: [],
      idx: 0,
      isLoading: false,
      isLoadingSubmit: false,
      isLoadingApproval: false,
      isLoadingApprove: false,
      isLoadingReject: false,
      isLoadingRegion: false,
      isLoadingSales: false,
      isLoadingTax: false,
      regions: [],
      filterRegion: {city: '', zipcode: '', state: '', district: ''}
    }
  },
  computed: {
    ...mapState({
      workers           : state => state.data.sales,
      taxNumbers      : state => state.data.taxNumbers,
      fetching        : state => state.data.fetching,
      customerGroups  : state => state.data.customerGroups,
      methodOfPayments: state => state.data.methodOfPayments,
      termOfPayments  : state => state.data.termOfPayments,
      deliveryModes   : state => state.data.deliveryModes,
      taxGroups       : state => state.data.taxGroups,
      prefix          : state => state.data.prefix
    }),
    ...mapGetters({
      role: 'auth/role'
    })
  },
  methods: {
    handleChangeFile(info) {
      let fileList = [...info.fileList];

      // 1. Limit the number of uploaded files
      //    Only to show two recent uploaded files, and old ones will be replaced by the new
      fileList = fileList.slice(-1);

      // 2. read from response and show file link
      fileList = fileList.map((file) => {
        if (file.response) {
          // Component will show file.url as link
          file.url = file.response.url;
        }
        return file;
      });

      this.fileList = fileList
      console.log(this.fileList)
    },
    filterSalesTaker(input, option) {
      return option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
    },
    openSalesModal() {
      this.salesModal = true
    },
    openTaxModal() {
      console.log("tax click")
      this.taxModal = true
    },
    searchTaxNumbers(value) {
      this.$store.dispatch('data/taxNumbers', value)
    },
    changeTaxNumbers(value) {
      if (value == '' || value == undefined) {
        this.$store.dispatch('data/taxNumbers')
      }
    },
    changePrimaryContact(e, contact) {
      if (e.target.checked == true) {
        for (var i in this.contacts) {
          this.contacts[i].is_primary = false
        }
      }

      contact.is_primary = e.target.checked
    },
    changePrimaryAddress(e, address) {
      if (e.target.checked == true) {
        for (var i in this.addresses) {
          this.addresses[i].is_primary = false
        }
      }

      address.is_primary = e.target.checked
    },
    onChangePriceTax(checked) {
      this.data.is_price_include_tax = checked
    },
    onChangeDigunggung(checked) {
      this.data.is_without_npwp = checked
    },
    contactDelete(idx) {
      this.contacts.splice(idx, 1)
    },
    closeContactModal() {
      this.contactIsEdit = false
      this.contact = {}
    },
    contactEdit(data, idx) {
      let vm = this
      this.contactIsEdit = true
      this.contactModal = true
      this.idx = idx
      this.contact = data
    },
    addressDelete(idx) {
      this.addresses.splice(idx, 1)
    },
    closeAddressModal() {
      this.addressIsEdit = false
      this.addressModal = false
      this.address = {name: '', street: '', country: 'IDN', purpose: 'Business', is_primary: false, city: '', district: '', state: '', postal_code: ''}
    },
    addressEdit(data, idx) {
      let vm = this
      this.addressIsEdit = true
      this.addressModal = true
      this.idx = idx
      this.address = data
    },
    submitContact (e) {
      e.preventDefault();

      let vm = this
      if (!vm.contactIsEdit) {
        //insert new
        this.contact.is_primary = false
        vm.contacts.push(this.contact)
      } else {
        vm.contacts[this.idx].description = this.contact.description
        vm.contacts[this.idx].type = this.contact.type
        vm.contacts[this.idx].value = this.contact.value
      }
      this.contactModal = false
      this.contact = {}
    },
    submitAddress (e) {
      e.preventDefault();

      let vm = this
      if (!vm.addressIsEdit) {
        //insert new
        this.address.is_primary = false
        vm.addresses.push(this.address)
      } else {
        vm.addresses[this.idx].name = this.address.name
        vm.addresses[this.idx].purpose = this.address.purpose
        vm.addresses[this.idx].street = this.address.street
        vm.addresses[this.idx].state = this.address.state
        vm.addresses[this.idx].city = this.address.city
        vm.addresses[this.idx].district = this.address.district
        vm.addresses[this.idx].postal_code = this.address.postal_code
      }
      vm.closeAddressModal()
    },
    closeSalesModal() {
      this.salesModal = false
      this.sales = {firstName: '', middleName: '', lastName: ''}
    },
    submitSales (e) {
      e.preventDefault();

      let vm = this
      vm.clearError()
      if (!vm.sales.firstName) {
        vm.drawErrorField('sales_first_name', 'Please input field first name!')
        return
      }

      vm.isLoadingSales = true
      AXSvc.insertSales(vm.sales).then((res) => {
        vm.$store.dispatch("data/sales")
        vm.closeSalesModal()
      }).catch((err) => {
        console.log(err)
      }).then(() => {
        vm.isLoadingSales = false
      })

    },
    closeTaxModal() {
      this.taxModal = false
      this.tax = {NPWPNumber: '', companyName: '', companyAddress: ''}
    },
    submitTax (e) {
      e.preventDefault();

      let vm = this
      vm.clearError()
      if (!vm.tax.NPWPNumber) {
        vm.drawErrorField('tax_npwp_number', 'Please input field Tax Exempt Number!')
        return
      }
      if (!vm.tax.companyName) {
        vm.drawErrorField('tax_company_name', 'Please input field Company Name!')
        return
      }

      if (!vm.tax.companyAddress) {
        vm.drawErrorField('tax_company_address', 'Please input field Company Address!')
        return
      }

      vm.isLoadingTax = true
      AXSvc.insertTaxExemptNumber(vm.tax).then((res) => {
        vm.closeTaxModal()
      }).catch((err) => {
        console.log(err)
      }).then(() => {
        vm.isLoadingTax = false
      })

    },
    rejectApproval() {
      let vm = this
      let targetStatus = 'rejected'

      if (this.data.status != 'request_approval_marketing' && this.data.status != 'request_approval_finance') {
        this.$message.warning('sorry, you are not allowed to this process!')
        return
      }

      vm.isLoadingReject = true
      this.updateStatus(this.id, targetStatus).then((res) => {
        vm.$message.success("Reject customer successfull!")
      }).catch((err) => {
        vm.$message.error(err)
      }).then(() => {
        vm.isLoadingReject = false
      })
    },
    requestApproval() {
      let vm = this
      let currentStatus = this.data.status
      let targetStatus
      if (this.role == 'sales') {
        targetStatus = 'request_approval_marketing'
        console.log(this.data.status)
        if (this.data.status != 'draft' && this.data.status != 'rejected') {
          this.$message.warning('sorry, you are not allowed to this process!')
          return
        }

        vm.resolveParams()
        this.required = true
        if (!vm.validate()) {return}

        vm.data.status = targetStatus
        if (vm.mode == 'new') {
          vm.isLoadingApproval = true
          vm.insertCustomer(vm.data).then((res) => {
            vm.$message.success("Request Approval to Marketing Team successfull!")
          }).catch((err) => {
            vm.data.status = currentStatus
            vm.$message.error(err)
          }).then(() => {
            vm.isLoadingApproval = false
          })
        } else {
          vm.isLoadingApproval = true
          vm.updateCustomer(vm.data).then((res) => {
            vm.updateStatus(vm.id, targetStatus).then((res) => {
              vm.$message.success("Request Approval to Marketing Team successfull!")
            }).catch((err) => {
              vm.data.status = currentStatus
              vm.$message.error(err)
            }).then(() => {
              vm.isLoadingApproval = false
            })
          }).catch((err) => {
            vm.data.status = currentStatus
            vm.isLoadingApproval = false
            vm.$message.error(err)
          })
        }
            
      } else if (this.role == 'marketing') {
        targetStatus = 'request_approval_finance'
        if (this.data.status != 'request_approval_marketing') {
          this.$message.warning('sorry, you are not allowed to this process!')
          return
        }

        isLoadingApproval = true
        vm.updateStatus(vm.id, targetStatus).then((res) => {
          vm.$message.success("Request Approval to Finance Team successfull!")
        }).catch((err) => {
          vm.$message.error(err)
        }).then(() => {
          vm.isLoadingApproval = false
        })
      } else {
        this.$message.warning('only sales/marketing role who can request approval, sorry!')
      }
    },
    approve() {
      let vm = this
      let targetStatus = 'approved'
      if (this.data.status != 'request_approval_finance') {
        this.$message.warning('sorry, you are not allowed to this process!')
        return
      }
      vm.isLoadingApprove = true
      this.updateStatus(vm.id, targetStatus).then((res) => {
        CustomerSvc.approve(vm.id).then((res) => {
          vm.$message.success("Approve Customer Successfull!")
        }).catch((err) => {
          vm.$message.error(err)
        }).then(() => {
          vm.isLoadingApprove = false
        })
      }).catch((err) => {
        vm.isLoadingApprove = false
        vm.$message.error(err)
      })
    },
    updateStatus(id, status) {
      let vm = this

      return new Promise((resolve, reject) => {
        CustomerSvc.updateStatus(id, status).then((res) => {
          resolve(res.data)
        }).catch((err) => {
          reject(err)
        })
      })
    },
    resolveParams() {
      if (this.mode == 'edit') {
        this.data.contact_ids = []
      }
      this.data.contact_descriptions = []
      this.data.contact_types = []
      this.data.contact_values = []
      this.data.contact_is_primaries = []
      for (var i in this.contacts) {
        if (this.mode == 'edit') {
          this.data.contact_ids.push(this.contacts[i].id == undefined ? null : this.contacts[i].id)
        }
        this.data.contact_descriptions.push(this.contacts[i].description)
        this.data.contact_types.push(this.contacts[i].type)
        this.data.contact_values.push(this.contacts[i].value)
        this.data.contact_is_primaries.push(this.contacts[i].is_primary)
      }

      //dummy
      this.data.city = "dummy"
      this.data.street = "dummy"
      this.data.state = "dummy"

      //for files upload
      if (this.fileList.length > 0 && this.fileList[0].uid != -1) {
        this.data.npwp_file = this.fileList[0].originFileObj
      }
    },
    saveDraft(e) {
      e.preventDefault()

      let vm = this
      vm.required = false
      vm.resolveParams()

      if (!vm.validate()) {return}

      if (vm.mode == 'new') {
        vm.isLoadingSubmit = true
        vm.insertCustomer(this.data).then((res) => {
          vm.$message.success("Data Save as Draft Successfull!")
        }).catch((err) => {

        }).then(() => {
          vm.isLoadingSubmit = false
        })
      } else {
        vm.isLoadingSubmit = true
        vm.updateCustomer(this.data).then((res) => {
          vm.$message.success("Data Update as Draft Successfull!")
        }).catch((err) => {

        }).then(() => {
          vm.isLoadingSubmit = false
        })
      }
    },
    insertCustomer(params) {
      let vm = this
      return new Promise((resolve, reject) => {
        CustomerSvc.insert(params).then((res) => {
          resolve(res.data.data)
        }).catch((err) => {
          vm.$message.error(err)
          reject(err)
        })
      })
    },
    updateCustomer(params) {
      let vm = this
      return new Promise((resolve, reject) => {
        CustomerSvc.update(this.id, params).then((res) => {
          resolve(res)
        }).catch((err) => {
          vm.$message.error(err)
          reject(err)
        })
      })
    },
    init() {
      let vm = this
      this.id = this.$route.params.id

      $("#tax_modal").on("click", function() {
        console.log("tax lick")
        vm.taxModal = true
      })

      if (this.id == undefined) {
        this.mode = 'new'
      } else {
        this.mode = 'edit'

        this.isLoading = true
        CustomerSvc.getDetail(this.id).then((res) => {
          console.log(res.data)
          vm.data = res.data.data
          vm.contacts = vm.data.contacts

          //binding file
          if (vm.data.npwp_url) {
            vm.fileList = [{
              uid: '-1',
              name: 'npwp file',
              status: 'done',
              url: vm.data.npwp_url,
            }]
          }
          vm.$store.dispatch('data/taxNumbers', vm.data.tax_exempt_number)

        }).catch((err) => {
          vm.$message.error(err)
        }).then(() => {
          vm.isLoading = false
        })
      }
    },
    validate() {
      this.clearError()

      if (!this.data.name) {
        this.drawErrorField('name', 'Please input field name!')
        return false
      }

      if (this.required) {
        if (!this.data.record_type) {
          this.drawErrorField('record_type', 'Please select record type!')
          return false
        }  

        if (!this.data.tax_group) {
          this.drawErrorField('tax_group', 'Please select tax group!')
          return false
        }  

        if (!this.data.tax_exempt_number) {
          this.drawErrorField('tax_exempt_number', 'Please select tax exempt number!')
          return false
        }  

        if (!this.data.customer_group) {
          this.drawErrorField('customer_group', 'Please select customer group!')
          return false
        }

        if (!this.data.currency) {
          this.drawErrorField('currency', 'Please select currency!')
          return false
        }

        if (!this.data.prefix) {
          this.drawErrorField('prefix', 'Please select prefix!')
          return false
        }

        if (!this.data.term_of_payment) {
          this.drawErrorField('term_of_payment', 'Please select term of payment!')
          return false
        }

        if (!this.data.mode_of_delivery) {
          this.drawErrorField('mode_of_delivery', 'Please select mode of delivery!')
          return false
        }

        if (!this.data.sales_taker) {
          this.drawErrorField('sales_taker', 'Please select sales taker!')
          return false
        }

        if (this.fileList.length == 0 ) {
          // this.drawErrorField('sales_taker', 'Please select sales taker!')
          alert("Please upload NPWP File!")
          return false
        }
      }
      
      return true
    },
    //address
    openAddressModal() {
      let vm = this
      this.addressModal = true
      this.filterRegion = {city: '', zipcode: '', state: '', district: ''}
      this.regions = []
      this.isLoadingRegion = true
      this.$store.dispatch("data/regions", this.filterRegion).then((res) => {
        vm.regions = res
      }).catch((err) => {

      }).then(() => {
        vm.isLoadingRegion = false
      })
    },
    searchRegions(e, filter) {
      let vm = this

      this.filterRegion[filter] = e.target.value
      this.regions = []
      this.isLoadingRegion = true
      this.$store.dispatch("data/regions", this.filterRegion).then((res) => {
        console.log(res)
        vm.regions = res
      }).catch((err) => {

      }).then(() => {
        vm.isLoadingRegion = false
      })
    },
    selectRegion(data) {
      this.address.city = data.City
      this.address.state = data.State
      this.address.district = data.District
      this.address.postal_code = data.ZipCode
    }
  },
  mounted(){
    this.$store.dispatch("data/sales")
    this.$store.dispatch("data/taxNumbers")
    this.$store.dispatch("data/customerGroups")
    this.$store.dispatch("data/termOfPayments")
    this.$store.dispatch("data/methodOfPayments")
    this.$store.dispatch("data/prefix")
    this.$store.dispatch("data/deliveryModes")
    this.$store.dispatch("data/taxGroups")
    this.init()
  },
  components: {
    VNodes: {
      functional: true,
      render: (h, ctx) => ctx.props.vnodes
    }
  },
}
</script>
