<template>
    <div>
        <a-row type="flex" justify="space-between" align="middle">
          <a-col :xs="{span: 12}" :md="{span: 8}">
            <h3 style="margin-bottom: 0px">Customer List</h3>
          </a-col>
          <a-col :xs="{span: 12}" :md="{span: 8}" style="text-align: right" v-if="checkAccess('new-customer')">
            <nuxt-link to="/customer">
              <a-button type="primary" icon="plus">New Customer</a-button>
            </nuxt-link>
          </a-col>
        </a-row>
        <a-divider />

        <a-tabs @change="tabsChanged" type="card" :activeKey="currentTab" :tabBarGutter="tabBarGutter">
          <a-tab-pane v-if="checkAccess('tab-draft')" tab="Draft" key="draft"></a-tab-pane>
          <a-tab-pane v-if="checkAccess('tab-request')" tab="Request Approval" key="request"></a-tab-pane>
          <a-tab-pane v-if="checkAccess('tab-rejected')" tab="Rejected" key="rejected"></a-tab-pane>
          <a-tab-pane tab="All" key="all"></a-tab-pane>
        </a-tabs>


        <a-form @submit="handleFilter">
          <a-row>
            <a-col :xs="{span: 24}" :md="{span: 8}">
              <a-form-item label="Name" :label-col="{span:6}" :wrapper-col="{span:14}">
                <input class="ant-input" placeholder="customer name" v-model.lazy="filter.name" />
              </a-form-item>
            </a-col>
            <a-col :xs="{span: 24}" :md="{span: 8}" v-if="currentTab == 'all'">
              <a-form-item label="Status" :label-col="{span:4}" :wrapper-col="{span:16}">
                <a-select v-model="filter.status">
                  <a-select-option value="">All</a-select-option>
                  <a-select-option value="draft" v-if="checkAccess('filter-draft')">Draft</a-select-option>
                  <a-select-option value="request_approval_marketing">Request Approval Marketing</a-select-option>
                  <a-select-option value="request_approval_finance">Request Approval Finance</a-select-option>
                  <a-select-option value="rejected">Rejected</a-select-option>
                  <a-select-option value="approved">Approved</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>

            <a-col :xs="{span: 24}" :md="{span: 8}">
              <a-form-item :wrapper-col="{span:24}" class="xs-center">
                <a-button type="primary" html-type="submit">
                  Filter
                </a-button>
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>

        <div class="limiter">
          <div class="container-table100">
            <div class="wrap-table100">
              <div class="table100">
                <a-spin tip="Loading data..." :spinning="isLoading">
                  <div class="spin-content">
                    <table class="table-custom">
                      <thead>
                        <tr class="table100-head">
                          <th>#</th>
                          <th>Name</th>
                          <th>Group</th>
                          <th>Telephone</th>
                          <th>Tax Group</th>
                          <th>Prefiks</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(x, index) in data">
                          <td><a-col class="responsive-td" :xs="{span: 0}">No :</a-col>{{ resolveNumber(index) }}</td>
                          <td><a-col class="responsive-td" :xs="{span: 0}">Name :</a-col>{{ x.name }}</td>
                          <td><a-col class="responsive-td" :xs="{span: 0}">Group :</a-col>{{ x.customer_group }}</td>
                          <td><a-col class="responsive-td" :xs="{span: 0}">Phone :</a-col> xxxxx </td>
                          <td><a-col class="responsive-td" :xs="{span: 0}">Tax Group :</a-col>{{ x.tax_group }}</td>
                          <td><a-col class="responsive-td" :xs="{span: 0}">Prefiks :</a-col>{{ x.prefix }}</td>
                          <td><a-col class="responsive-td" :xs="{span: 0}">Status :</a-col>{{ x.status }}</td>
                          <td>
                            <nuxt-link :to="{ name: 'customer-id', params: { id: x.id }}">
                                <a-button type="default">Edit</a-button>
                            </nuxt-link>
                          </td>
                        </tr>
                        <tr v-if="data.length == 0">
                          <td colspan="8" style="text-align: center">
                            <font v-if="isLoading">...</font>
                            <font v-else>no data</font>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </a-spin>
              </div>
            </div>
          </div>
        </div>

        <div style="text-align: right; margin: 10px">
          <a-pagination v-model="pagination.current_page" :page-size="pagination.per_page" :total="pagination.total" @change="getData" />
        </div>
    </div>
  </template>

  <script>
  import {CustomerSvc} from '@/service/api'
  import {mapGetters} from 'vuex'

  export default {
    layout: 'dashboard',
    data () {
      return {
        form: this.$form.createForm(this),
        isLoading: true,
        currentTab: '',
        tabBarGutter: 5,
        filter: {
          name: '',
          status: ''
        },
        pagination: {},
        data: []
      }
    },
    computed: {
      ...mapGetters({
        role: 'auth/role'
      })
    },
    methods: {
      tabsChanged (key) {
        this.currentTab = key
        this.filter.name = ''

        switch (key) {
          case 'draft'    : this.filter.status = 'draft'
                            break
          case 'request'  : this.role == 'marketing' ? this.filter.status = 'request_approval_marketing' : this.filter.status = 'request_approval_finance'
                            break
          case 'rejected' : this.filter.status = 'rejected'
                            break
          case 'all'      : this.filter.status = ''
                            break
          default         : break
        }

        this.getData()
      },
      handleFilter (e) {
        e.preventDefault()

        this.getData()
      },
      resolveNumber(index) {
        return ((index + 1) + ((this.pagination.current_page - 1) * this.pagination.per_page))
      },
      getData(page) {
        let vm = this
        if (page == undefined) {
          page = 1
        }

        let perpage = 15
        vm.data = []
        vm.isLoading = true
        CustomerSvc.getList(page, perpage, vm.filter).then((res) => {
          vm.data = res.data.data
          vm.pagination = res.data.meta.pagination
        }).catch((err) => {

        }).then(() => {
          vm.isLoading = false
        })
      },
      initByRole(){
        switch (this.role) {
          case 'admin'      : this.tabsChanged('all')
                              break
          case 'sales'      : this.tabsChanged('draft')
                              break
          case 'marketing'  : this.tabsChanged('request')
                              break
          case 'finance'    : this.tabsChanged('request')
                              break
          default           : break
        }
      }
    },
    mounted(){
      this.initByRole()
    }
  }
  </script>
